@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/breakpoints";

.login-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.form-control {
  border: 1px solid #adadad;
  border-radius: 16px;
  box-sizing: border-box;
}

.ng-invalid.ng-touched:not(form) {
  border-left: 4px solid theme-color("danger");
}

@include media-breakpoint-down(xs) {
  .container {
    width: 100%;
  }
}

.form-check-input {
  border: 1px solid #adadad;
  box-sizing: border-box;
  border-radius: 16px;
  width: 35px;
  height: 18px;
}

.remainder {
  margin-left: 13px;
}
.btn {
  background: #45a29e;
}
