<div class="container">
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="/assets/user_placeholder.png" class="rounded-circle" width="150" />
          <div class="mt-3">
            <h4>John Doe</h4>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Username</h6>
          </div>
          <div class="col-sm-9 text-secondary text-end">LittleBoney</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Name</h6>
          </div>
          <div class="col-sm-9 text-secondary text-end">Napoleon Bonaparte</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Email</h6>
          </div>
          <div class="col-sm-9 text-secondary text-end">napo@french.emp</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Phone</h6>
          </div>
          <div class="col-sm-9 text-secondary text-end">+22 111 823 3211</div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-3">
            <h6 class="mb-0">Timezone</h6>
          </div>
          <div class="col-sm-9 text-secondary text-end">France (GMT+1) Monday, 21 March 1820</div>
        </div>
        <hr />
      </div>
    </div>
    <div class="card mt-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0">Steam</h6>
          <span class="text-secondary">steam_handle</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0">Battle.Net</h6>
          <span class="text-secondary">bnet#123445</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0">PSN</h6>
          <span class="text-secondary">psn_handle</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0">Xbox?</h6>
          <span class="text-secondary">xbox_handle</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
          <h6 class="mb-0">Nintendo</h6>
          <span class="text-secondary">some_code</span>
        </li>
      </ul>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" target="__blank" routerLink="/profile/edit/1">Edit</a>
      </div>
    </div>
  </div>
</div>
