.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}
.card-body {
  background-color: #6c5ce7;
  border-radius: 10px;
  height: 194px;
}
.main-text {
  color: #190061;
}
.card-title {
  color: #ffffff;
}
.card-text {
  color: #ffffff;
}
.shedule-botton {
  width: 104px;
  height: 104px;
}
.refresh-botton {
  width: 104px;
  height: 104px;
}
